@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: local("Lato Bold");
  src: url("../fonts/lato-Bold.woff"), url "../fonts/lato-Bold.woff2"; }

@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  src: local("Lato Regular");
  src: url("../fonts/lato-regular.woff"), url("../fonts/lato-regular.woff2"); }

body {
  font-family: "Lato", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #f4f6f9;
  margin: 0; }

span {
  visibility: hidden; }

img {
  max-width: 100%; }

ul > li {
  list-style: none; }

ul a {
  list-style: none;
  text-decoration: none; }

.introduction {
  max-width: 1114px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center; }

.masthead {
  margin-bottom: 2rem; }

.heading {
  color: #333333;
  font-size: 30px; }

.pararaph {
  color: #4f4f4f;
  font-size: 16px; }

@media (min-width: 1114px) {
  .heading {
    font-size: 36px;
    max-width: 546px; }
  .paragraph {
    font-size: 18px; } }

.intro {
  margin: 0;
  padding-block-end: 33px; }

@media (min-width: 1114px) {
  .introduction {
    align-items: flex-start;
    text-align: start; }
  .masthead {
    background-image: url("../img/bg_header_modified.png");
    background-repeat: no-repeat;
    background-position-x: calc(100vh - 22px);
    background-position-y: 0;
    padding-bottom: 280px;
    margin-bottom: 2rem; }
  .section-heading {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto; }
  .paragraph {
    max-width: 546px; } }

.section-heading {
  max-width: 1114px;
  margin-inline-start: auto;
  margin-inline-end: auto; }

.logo-sports {
  margin: 0;
  padding-top: 30px;
  height: 70px;
  padding-bottom: 50px; }
  .logo-sports a {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .logo-sports img {
    width: 186px; }

@media (min-width: 1114px) {
  .lg-sports {
    display: flex;
    justify-content: start;
    width: 99px; }
  .logo-sports a {
    align-items: start; } }

.download-button {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  margin: 0; }

.store-app {
  padding-right: 28px; }

.google {
  padding-bottom: 0; }

@media (min-width: 1114px) {
  .download-button {
    padding: 0;
    margin: 0; } }

.section-user-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 750px;
  margin: 0;
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 30%; }

.navigation {
  color: #00ADEE; }

.started-link {
  width: 104px;
  height: 22px;
  text-transform: uppercase;
  color: #00ADEE; }

.learn-more {
  color: #00ADEE;
  text-transform: lowercase; }

.main-paragraph {
  color: #4f4f4f;
  text-align: center; }

.user-interface {
  margin: 0;
  padding-block-end: 26px; }

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 11px;
  margin: 0;
  text-align: center; }

.more-information {
  display: flex;
  flex-direction: column;
  align-items: center; }

svg {
  fill: #00ADEE; }

.feature {
  width: 318px;
  height: 74px;
  padding-top: 42px;
  margin-left: 21px;
  margin-right: 21px;
  text-align: center; }

@media (min-width: 1114px) {
  .icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 3;
    grid-gap: 90px; }
  .more-information {
    background-color: #00ADEE;
    color: #ffffff; }
  .icon a {
    color: inherit; }
  .icon svg {
    fill: currentColor; } }

.section-feature-sports {
  position: relative;
  width: 360px;
  height: 409px;
  text-align: center;
  margin-left: 20px; }

.latest-information {
  color: #4f4f4f;
  text-align: center;
  padding-top: 57px;
  padding-bottom: 43px;
  margin: 0;
  font-size: 28px; }

.information-site {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.information-site a {
  display: block;
  height: 75px; }

.sport-tv {
  background-image: url(../img/logo_sports_tv.svg);
  background-repeat: no-repeat; }

.sports {
  background-image: url(../img/logo_sports_channel.svg);
  background-repeat: no-repeat; }

.first-icons {
  flex-basis: 50%; }

.nbc-sports {
  background-image: url(../img/logo_nbc_sports.svg);
  background-repeat: no-repeat; }

.second-icons {
  flex-basis: 30%; }

.design-tech {
  background-image: url(../img/logo_designer_technology.svg);
  background-repeat: no-repeat; }

.third-icons {
  flex-basis: 40%; }

.dn {
  background-image: url(../img/logo_designer_news.svg);
  background-repeat: no-repeat; }

.second-icons {
  flex-basis: 30%; }

.sky-sports {
  background-image: url(../img/logo_sky_sports.svg);
  background-repeat: no-repeat; }

.fourth-icons {
  flex-basis: 100%; }

.site-information {
  background-color: #00ADEE;
  color: #ffffff;
  padding-inline-start: 21px;
  margin: 0; }

.share-link {
  width: 25px;
  height: 25px;
  padding: 0; }

.site-menu {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  justify-content: space-between;
  padding: 0; }
  .site-menu a {
    color: inherit; }

.logo-link a {
  color: inherit; }

.logo-link svg {
  fill: currentColor; }

.patches {
  fill: #00ADEE; }

.share-link svg {
  width: 25px;
  height: 25px; }

.share-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.navigation-link {
  background-color: #00ADEE; }

@media (min-width: 1114px) {
  .navigation-link {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .logo-link svg {
    margin-left: -400px; }
  .share-link {
    margin-left: 500px; }
  .site-menu {
    margin-left: 10px; } }
